# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.dump
demo.exe
demo
bench_runner
benchmarks/bench_runner
benchmarks/bench_runner.exe

# Temporary / Third-party clones
temp_coccoc/

# Go build & test
[a-zA-Z0-9]*.[0-9]
*.out
*.test
vendor/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Large Benchmark Datasets
*.jsonl
benchmarks/*.jsonl
benchmarks/tmp_res_*.json

scratch/
data/custom_storage/*.del
bao_cao_thuc_tap_overleaf.zip
