# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.dump
demo.exe
demo

# Temporary / Third-party clones
temp_coccoc/

# Go build & test
[a-zA-Z0-9]*.[0-9]
*.out
*.test
vendor/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
